@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #c8fffc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.schedular {
  background-color: #ffd1d1;
}
